html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100svh;
    box-sizing: border-box;
    background-color: #dfdfdf;
    font-family: "Alegreya", serif;
}

.container-safe {
    height: 100dvh; 
}

.footer-safe {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}


.large-heading {
    font-size: 3rem;
}

.footer {
    position: sticky;
    bottom: 0;
}

@media (max-width: 576px) {
    .large-heading {
        font-size: 2.5rem;
    }
}
