html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    background-color: #dfdfdf;
    font-family: "Alegreya", serif;
}

.large-heading {
    font-size: 3rem;
}

.footer {
    position: sticky;
    bottom: 0;
}

@media (max-width: 576px) {
    .large-heading {
        font-size: 2.5rem;
    }
}
