html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100dvh;
    box-sizing: border-box;
    background-color: #dfdfdf;
    font-family: "Alegreya", serif;
}

.container-safe {
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    height: 100%; 
}

.footer-safe {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding-bottom: env(safe-area-inset-bottom); /* Considera a safe area */
}


.large-heading {
    font-size: 3rem;
}

.footer {
    position: sticky;
    bottom: 0;
}

@media (max-width: 576px) {
    .large-heading {
        font-size: 2.5rem;
    }
}
